* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  background: none;
}

body {
  background: #f4f5f9;
  padding: 0 4rem;
  color: #42567a;
  font-family: 'PT Sans', sans-serif;
}
